
HW1/.ipynb_checkpoints/HW1-checkpoint.ipynb
HW2/.ipynb_checkpoints/HW2-checkpoint.ipynb
HW3/.ipynb_checkpoints/HW3-checkpoint.ipynb
HW4/.ipynb_checkpoints/HW4-checkpoint.ipynb
HW5/.ipynb_checkpoints/HW5-checkpoint.ipynb
