
HW1/.ipynb_checkpoints/HW1-checkpoint.ipynb
HW2/.ipynb_checkpoints/HW2-checkpoint.ipynb
HW3/.ipynb_checkpoints/HW3-checkpoint.ipynb
HW4/.ipynb_checkpoints/HW4-checkpoint.ipynb
HW5/.ipynb_checkpoints/HW5-checkpoint.ipynb
project/.ipynb_checkpoints/project-checkpoint.ipynb
project/.ipynb_checkpoints/data-checkpoint.ipynb
HW5/.ipynb_checkpoints/Untitled-checkpoint.ipynb
HW5/.ipynb_checkpoints/test-checkpoint.ipynb
project/idea 1/.ipynb_checkpoints/data-checkpoint.ipynb
project/idea 1/.ipynb_checkpoints/project-checkpoint.ipynb
project/idea 2/.ipynb_checkpoints/notes-checkpoint.ipynb
project/idea 2/.ipynb_checkpoints/testdata-checkpoint.ipynb
project/idea 2/.ipynb_checkpoints/data-checkpoint.ipynb
project/idea 2/.ipynb_checkpoints/kladd-checkpoint.ipynb
project/idea 2/.ipynb_checkpoints/playerstatdf-checkpoint.csv
project/idea 2/.ipynb_checkpoints/project-checkpoint.ipynb
project/.ipynb_checkpoints/notes-checkpoint.ipynb
project/.ipynb_checkpoints/playerstatdf-checkpoint.csv
project/.ipynb_checkpoints/README-checkpoint.txt
project/.ipynb_checkpoints/test-checkpoint.md
project/idea 2/.ipynb_checkpoints/test-checkpoint.md
HW2/.ipynb_checkpoints/notes-checkpoint.ipynb
revising material/.ipynb_checkpoints/Week3-checkpoint.ipynb
